html {
    color: black;
    font-size: 125%;
    background-color: #B6CAA2;
    
}

p {
    font-size: 1.1rem;
    margin: 30px;
    text-align: center;
}

body, ul, li {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 96%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2%;
}
