@media (max-width: 940px) {
}

@media (max-width: 768px) {
    img {
        max-width: 100%;
    }
    h1        {
        font-size: 1.2rem;
        padding-top: 250px;
        padding-bottom: 250px;
    }
    .home {
        font-size: 1.1rem;
    }
}

@media (max-width: 480px) {
    img {
        max-width: 100%;
    }
    .social li{
        max-width: 100%;
        text-align: center;
        
    }
}

@media (max-width: 375px) {
    h1 {
        padding-right: 10px;
        padding-left: 10px;
    }

    .aboutMe p {
        font-size: 1rem;
    }

    .projects p {
        font-size: 1rem;
    }
}