@media (max-width: 940px) {
}

@media (max-width: 768px) {
    img {
        max-width: 100%;
    }
}

@media (max-width: 480px) {
    img {
        max-width: 100%;
    }
    .social li{
        max-width: 100%;
        text-align: center;
        
    }
}