html {
    background-color: #B6CAA2;
    font-family: $font;
    color:  #F8F4F3;
}

h2 {
    text-align: center;
    font-size: 2rem;
    
}

.aboutMe p {
    width: 90%;
    font-family: $font;
    text-align: center;
    font-size: 1.8rem;
    margin: 30px;
    font-weight: normal;
    
    
}

a {
    text-decoration: none;
    color: inherit;
}

.drag, .willow {
    display: flex;
}

.drag, .willow img {
        width: 100%;
    }


.dragText, .willowText {
    h3 {
        font-size: 1.7rem;
    }
    p {
        font-weight: normal;
        margin-bottom: 10px;
    }
    width: 50%;
    text-align: center;
    margin: 15px;
}

.willowText {
    h3 {
        font-size: 1.7rem;
    }
    width: 60%;
    text-align: center;
    margin: 15px;
}

.topIcons {
    display: flex;
    flex: row;
    justify-content: space-evenly;
    i {
        font-size: 3.3rem;
    }
    margin-top: 50px;
    margin-bottom: 50px;
}


.bottomIcons {
    display: flex;
    flex: row;
    justify-content: space-evenly;
    margin-bottom: 50px;
    i {
        font-size: 3rem;
    }
}

.cont p {
    font-size: 1.4rem;
    margin-top: 0;
}

.social {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    i {
        font-size: 3rem;
    }
    #email {
        font-size: 2.5rem;
        
    }

}