h2 {
    text-align: center;
    font-family: $font;
    font-size: 2rem;
}

.aboutMe p {
    width: 100%;
    font-family: 'Nanum Pen Script';
    text-align: center;
}



.topIcons {
    display: flex;
    flex: row;
    justify-content: space-evenly;
    i {
        font-size: 3rem;
    }
    margin-bottom: 25px;

}

.bottomIcons {
    display: flex;
    flex: row;
    justify-content: space-evenly;
    i {
        font-size: 3rem;
    }

}