html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.siteNav li a {
  text-decoration: none;
  -webkit-transition: color 0.7s;
  transition: color 0.7s;
}

.siteNav li a:hover {
  color: lightblue;
}

.headBanner nav li {
  list-style: none;
  font-family: "League Spartan", normal;
  font-size: 2rem;
}
.headBanner nav li a {
  color: inherit;
}

h1 {
  font-size: 50px;
  font-family: "League Spartan", normal;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  font-weight: bold;
  width: 100%;
}

html {
  background-color: #B6CAA2;
  font-family: "League Spartan", normal;
  color: #F8F4F3;
}

h2 {
  text-align: center;
  font-size: 2rem;
  padding: 50px;
}

.aboutMe p {
  width: 90%;
  font-family: "League Spartan", normal;
  text-align: left;
  font-size: 1.8rem;
  margin: 30px;
  font-weight: normal;
  padding: 0 15px 0 15px;
}

a {
  text-decoration: none;
  color: inherit;
}

.drag, .haiku {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gitLink, .liveLink {
  background-color: lightblue;
  padding: 5px;
  margin: 5px;
  font-size: 1.3rem;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.gitLink:hover, .liveLink:hover {
  background-color: #F8F4F3;
  color: lightblue;
}

.portfolio {
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.portfolio:hover {
  color: lightblue;
}

.drag, .haiku img {
  width: 100%;
}

.dragText, .haikuText {
  width: 50%;
  text-align: center;
  margin: 15px;
}
.dragText h3, .haikuText h3 {
  font-size: 1.7rem;
}
.dragText p, .haikuText p {
  font-weight: normal;
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.haikuText {
  width: 60%;
  text-align: center;
  margin: 15px;
}
.haikuText h3 {
  font-size: 1.7rem;
}

.topIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: row;
      -ms-flex: row;
          flex: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 50px;
  margin-bottom: 100px;
  height: 2rem;
}
.topIcons i {
  font-size: 3.3rem;
}

.bottomIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: row;
      -ms-flex: row;
          flex: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 50px;
  line-height: 2rem;
}
.bottomIcons i {
  font-size: 3rem;
}

.cont p {
  font-size: 1.4rem;
  margin-top: 0;
}

.social {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 20px;
  -webkit-transition: color 0.7s;
  transition: color 0.7s;
}
.social i {
  font-size: 3rem;
}
.social #email {
  font-size: 2.5rem;
}

.social .email:hover, .linked:hover, .github:hover {
  color: lightblue;
}

p {
  text-align: center;
  font-weight: bold;
  margin-bottom: 0;
  padding: 20px;
}

@media (max-width: 768px) {
  img {
    max-width: 100%;
  }
  h1 {
    font-size: 1.2rem;
    padding-top: 250px;
    padding-bottom: 250px;
  }
  .home {
    font-size: 1.1rem;
  }
}
@media (max-width: 480px) {
  img {
    max-width: 100%;
  }
  .social li {
    max-width: 100%;
    text-align: center;
  }
}
@media (max-width: 375px) {
  h1 {
    padding-right: 10px;
    padding-left: 10px;
  }
  .aboutMe p {
    font-size: 1rem;
  }
  .projects p {
    font-size: 1rem;
  }
}